.App {
  text-align: center;
  display: flex;
  background-color: #282c34;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#Title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.App-link {
  color: #61dafb;
}
