#ShareBox {
  margin: 2px;
  font-size: 24pt;
  align-items: center;
  justify-content: center;
  color: white;
}

.Share {
  margin: 2px;
  font-size: 24pt;
  border: 2px solid gray;
  background: #6aaa64;
  font-weight: 700;
  justify-content: center;
  color: white;
  border-radius: 6pt;
}
